<!-- views/partials/header.ejs -->
<h1>TinyApp</h1>
<ul style="list-style-type:none;">
    <li style="display:inline">
        <a href="/urls/new">Create New TinyURL</a>
        <a href="/logout">Logout</a>
    </li>
</ul>

<h1>Errors here</h1>

<% if (locals.error) {%>
    <div class="notification"><%= locals.error %></div>
<% }; %>

<br/>
<br/>

      