<!-- views/partials/header.ejs -->
<h1>TinyApp</h1>
<ul style="list-style-type:none;">
    <li style="display:inline">
        <a href="/urls">URLs</a> | 
        <a href="/urls/new">Create New TinyURL</a> |
        <a href="/logout">Logout</a>
    </li>
</ul>

<% if (locals.errors) {%>
    <h3>Errors here</h3>
    <div class="notification"><%= locals.errors %></div>
<% }; %>

<br/>
<br/>
