<!-- views/partials/header.ejs -->
<h1>TinyApp</h1>
<ul style="list-style-type:none;">
    <li style="display:inline">
        <a href="/urls">URLs</a> | 
        <a href="/urls/new">Create New TinyURL</a> |
        <a href="/logout">Logout</a>
    </li>
</ul>
<% if (locals.errors) {%>
    <div class="alert alert-danger"><%= errors %></div>
<% }; %>
<% if (locals.useremail) {%>
</br>
    <div class="alert alert-info">Logged in as: <%= useremail %></div>
</br>
<% }; %>
