<!-- views/partials/header.ejs -->
<h1>TinyApp</h1>
<ul style="list-style-type:none;">
    <li style="display:inline">
        <a href="/login">Login</a> | 
        <a href="/register">Register</a>
    </li>
</ul>
<% if (locals.errors) {%>
    <div class="alert alert-warning"><%= errors %></div>
<% }; %>

      